# Code snippets

In this notebook you can find code snippets that I always reuse

- toc: true 
- badges: true
- comments: false
- categories: [r]

- to create a data set with n colums with same mean and standard deviation

In [1]:
number_of_rows <- 10
number_of_cols <- 6
my_mean <- 2
my_sd <- 0.5

newdat <-  as.data.frame( 
           replicate(
           number_of_cols,
           rnorm(n = number_of_rows, mean = my_mean, sd = my_sd ))
           )

#we are creating a dataframe from a matrix obtained replicating x the desired number_of_cols a vector of length number_of_rows from a normal distribution rnorm with a mean of my mean and standard deviation as sd

head(newdat)

  V1       V2       V3       V4       V5       V6
1 2.359921 1.103726 1.591975 2.490805 2.235865 2.247067
2 2.299775 2.077032 1.642562 2.770813 1.828170 2.180219
3 1.537064 1.535535 2.329691 1.822885 1.416381 2.554195
4 1.682205 2.454069 2.240825 1.872919 1.950754 1.574866
5 1.436598 2.578433 1.841249 1.682910 2.104825 1.721082
6 1.762760 2.963242 1.521928 2.386414 2.966561 2.430152

-  Code for creating small (n col < 5) dataset.
Each column has its own mean and sd. 
In the example reported we have n = 3  (A, B, C)
with n row = 50. means are 100,110,120 and sd 1,2,3

In [2]:
#in order to obtain ALWAYS same "random" results REMEMBER TO initialize the seed 
#set.seed(42) 

number_of_rows <- 5
A <- rnorm( n=number_of_rows, mean=100, sd=1 ) 
B <- rnorm( n=number_of_rows, mean=110, sd=2 ) 
C <- rnorm( n=number_of_rows, mean=120, sd=2 ) 

dat=data.frame(A,B,C) 

dat

   A         B        C
1  101.41172 110.4121 125.5185
2   98.49940 110.4784 119.4296
3   99.44313 105.7317 116.9115
4   98.78634 110.8009 119.5023
5   99.98827 111.4053 120.5793
6   99.54834 109.3578 118.9238
7  100.10775 107.6455 119.9235
8  100.08334 113.1276 116.7360
9  100.04090 109.3784 121.8826
10  99.33038 110.7216 119.5625
11  99.75864 110.6821 122.7145
12 100.10948 112.9783 120.3442
13 100.49960 111.6014 120.7228
14 100.71527 110.6345 121.4159
15  98.55515 108.9987 119.0925
16  99.80328 107.9261 119.5052
17 100.41967 108.8459 118.9055
18 100.20765 108.6289 121.0348
19  99.97121 112.0536 120.1457
20 100.19516 110.8968 120.1510
21  99.26855 109.9388 119.5406
22  98.30118 112.7929 122.0220
23 101.09845 109.0931 118.4314
24 100.39214 110.2873 121.7629
25  99.07666 109.7192 117.4796
26 100.27345 109.4950 120.2648
27  99.12707 110.0656 122.8751
28 101.72369 113.4450 122.4620
29 100.04846 109.1558 121.1512
30 100.34441 109.2334 120.0413
31 100.09486 111.6330 121.4478
32 100.23337 110.2495 118.7779
33 100.46038 107.9223 120.0318
34  99.48121 108.3544 123.8136
35  99.42791 113.2894 121.0000
36 101.52847 107.9312 120.8256
37 101.01942 112.2640 120.8712
38  99.12636 111.4248 120.6026
39  99.35856 108.4603 118.8620
40  99.45709 109.6206 123.4289
41  98.94393 109.9746 119.5673
42 100.11051 111.6075 119.3588
43 100.87526 109.4799 119.3936
44  98.85810 109.1795 121.3795
45 100.72081 109.6173 119.1438
46  99.37932 110.7937 119.9995
47 101.22747 112.3819 121.5048
48 101.53854 107.3205 120.6254
49 100.38875 109.9316 119.6101
50 100.46413 110.0907 120.2268

- same as the one above but more useful for dataset with i columns n col > 5

In [32]:

number_of_rows = 3
means=c(100, 120, 130, 145)
sds=c(10 ,20 ,40 ,10)

dat <- lapply(
       seq(1,length(means)) ,
       function(x) rnorm(number_of_rows,m = means[x], sds[x])
       )
dat <- as.data.frame(do.call(cbind, dat))
 
names_length = 3
my_labels <- sort(
            replicate(
            length(means),
            paste(sample(LETTERS[1:dictionary_size],
            names_length,
            replace = TRUE),
            collapse="")
            )
            )
my_labels <- unlist(strsplit(my_labels," "))  
colnames(dat) <- my_labels

dat

  AJD       CAF      DGJ      HHI
1 101.03620 148.0520 100.5811 151.5095
2 101.46831 151.8345 135.1555 138.0882
3  99.87062 140.0476 189.0076 141.9761

- to create sample names or labels (https://stackoverflow.com/a/60789938/6483091)

In [1]:
#short names
my_labels <- letters[1:5]
# or <- 
my_labels <- LETTERS[1:5]
# or arbitrary number of letters using roman letters as in the 
#function 
# letters() or LETTERS()

dictionary_size <- 10
label_length <- 5 
n_replicates <- 3

#random

my_labels <- replicate(
             n_replicates,
             paste(sample(LETTERS[1:dictionary_size],
             label_length,
             replace = TRUE),
             collapse="")
             )

#sorted

my_labels_sorted <- sort(replicate(n_replicates, paste(sample(LETTERS[1:dictionary_size], label_length, replace = TRUE), collapse="")))

#if you want to mix letters and numbers

alfanum_labels <- paste0(rep(LETTERS[1:dictionary_size], each = n_replicates), sep = "-", 1:n_replicates)