# Simulated Dataset

In this notebook you can find code snippets that I always reuse for simulating dataset

- toc: true 
- badges: true
- comments: false
- categories: [r]

- to create a data set with n colums with same mean and standard deviation

In [9]:
number_of_rows <- 7
number_of_cols <- 6
my_mean <- 2
my_sd <- 0.5

newdat <-  as.data.frame( 
           replicate(
           number_of_cols,
           rnorm(n = number_of_rows, mean = my_mean, sd = my_sd ))
           )

# we are creating a dataframe from a matrix obtained replicating x 
# the desired number_of_cols a vector of length number_of_rows from 
# a normal distribution rnorm with a mean of my mean and standard deviation as sd

head(newdat)

  V1       V2       V3        V4       V5       V6
1 1.690504 1.273989 0.9410319 2.278660 1.762100 1.724929
2 1.907054 1.506012 1.1887123 1.593398 1.678743 1.860177
3 2.395591 1.533450 1.4812527 1.124384 2.354872 1.758949
4 2.039787 1.504051 2.6524783 1.633000 2.619130 3.038763
5 1.198748 2.543346 1.5713827 2.543388 1.015890 1.729694
6 2.020301 2.224998 2.5064183 1.761407 2.225457 1.444580

-  Code for creating small (n col < 5) dataset.
Each column has its own mean and sd. 
In the example reported we have n = 3  (A, B, C)
with n row = 50. means are 100,110,120 and sd 1,2,3

In [8]:
#in order to obtain ALWAYS same "random" results REMEMBER TO initialize the seed 
#set.seed(42) 

number_of_rows <- 5
A <- rnorm( n=number_of_rows, mean=100, sd=1 ) 
B <- rnorm( n=number_of_rows, mean=110, sd=2 ) 
C <- rnorm( n=number_of_rows, mean=120, sd=2 ) 

dat=data.frame(A,B,C) 

dat

  A        B        C
1 101.1820 113.2777 117.8636
2 100.2234 104.6185 119.9460
3 101.1258 108.7751 118.9331
4 101.2472 107.7836 120.4090
5 101.8446 110.0996 121.0424

- same as the one above but more useful for dataset with i columns n col > 5

In [11]:

number_of_rows = 3
means=c(100, 120, 130, 145)
sds=c(10 ,20 ,40 ,10)

dat <- lapply(
       seq(1,length(means)) ,
       function(x) rnorm(number_of_rows,m = means[x], sds[x])
       )
dat <- as.data.frame(do.call(cbind, dat))
 
names_length = 3
dictionary_size <- 10
my_labels <- sort(
            replicate(
            length(means),
            paste(sample(LETTERS[1:dictionary_size],
            names_length,
            replace = TRUE),
            collapse="")
            )
            )
my_labels <- unlist(strsplit(my_labels," "))  
colnames(dat) <- my_labels

dat

  BCI       GBE       GFJ      JEE
1  82.74740 135.08212 145.0604 140.5885
2 104.39390 110.53025 123.9206 136.0575
3  94.05001  87.58391 103.4776 150.7749

- to create sample names or labels (see https://stackoverflow.com/a/60789938/6483091)

In [14]:
#short names
my_labels <- letters[1:5]
my_labels
# or <- 
my_labels <- LETTERS[1:5]
my_labels
# or arbitrary number of letters using roman letters as in the 
#function 
# letters() or LETTERS()

dictionary_size <- 7
label_length <- 5 
n_replicates <- 3

#random

my_labels <- replicate(
             n_replicates,
             paste(sample(LETTERS[1:dictionary_size],
             label_length,
             replace = TRUE),
             collapse="")
             )
my_labels

#sorted

my_labels_sorted <- sort(replicate(
                    n_replicates, 
                    paste(sample(LETTERS[1:dictionary_size], label_length, replace = TRUE), collapse="")
                    )
                    )
my_labels_sorted
#if you want to mix letters and numbers

alfanum_labels <- paste0(rep(LETTERS[1:dictionary_size], each = n_replicates), sep = "-", 1:n_replicates)
alfanum_labels

[1] "a" "b" "c" "d" "e"

[1] "A" "B" "C" "D" "E"

[1] "GBCDF" "AGEBC" "FBCDF"

[1] "DDCFA" "FCEGE" "GFECF"

 [1] "A-1" "A-2" "A-3" "B-1" "B-2" "B-3" "C-1" "C-2" "C-3" "D-1" "D-2" "D-3"
[13] "E-1" "E-2" "E-3" "F-1" "F-2" "F-3" "G-1" "G-2" "G-3"